<div id="title-container">
    <h1>
        <!-- <img src="https://fontmeme.com/permalink/220913/6616344a537ac211b127d78d504e7ac9.png" alt="trim-images" border="0"> -->
    </h1>
    <h3>A Deck Builder App for the Pokémon Trading Card Game</h3>
    <h3>Welcome <%= user.firstName %>!</h3>
</div>