<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Your description goes here">
    <meta name="keywords" content="one, two, three">
    <title>PokéDrafts</title>

    <!-- external CSS link -->
    <link href="http://fonts.cdnfonts.com/css/nintendo-ds-bios" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="app-container">
        <div id="title-container">
            <h1>PokéDrafts</h1>
            <h2>A Deck Builder App for the Pokémon Trading Card Game</h2>
        </div>
        <div class="panel">
            <script src="/main.js"></script>
            <a href="/auth/google" class="btn red darken-1">
                <button>
                    <i class="fab fa-google left"></i> Log In With Google
                </button>
            </a>
        </div>
    </div>

    <script src="/main.js"></script>
</body>