/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     font-family: 'Nintendo DS BIOS', sans-serif;
     min-height: 80vh;
     background-image: url("pokedex.jpg");
     background-size: 480px 620px;
     background-repeat: no-repeat;
     background-position: center;
     padding-top: 80px;
}

form {
     height: 100%;
     padding-bottom: 10px;
}

ul {
     list-style-type: none;
     padding-left: 0;
}


/******************************************
/* LAYOUT
/*******************************************/
/* header {

}

footer {

} */

header, body, footer {
     width: 380px;
     margin: 50px auto;
     text-align: center;
}

h2 {
     margin-top: 0;
     margin-bottom: -10px;
}

#search-header {
     margin-top: 5px;
     margin-bottom: 10px;
}

h3 {
     font-size: 24px;
     margin-top: 10px;
     margin-bottom: 5px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.title-image {
     background-image: url("title.jpg");
     background-size: 100%;
     background-repeat: no-repeat;
     background-position: center top;
     position: absolute;
     height: 100px;
     width: 300px;
     margin-top: -100px;
     margin-left: -40px;
     z-index: 10;
}

.title-image-one {
     background-image: url("pikachu.jpg");
     background-size: 100%;
     background-repeat: no-repeat;
     background-position: center top;
     position: absolute;
     height: 100px;
     width: 100px;
     margin-top: -110px;
     margin-left: 320px;
     z-index: 10;
}

.title-image-two {
     background-image: url("starter-trio-one.jpg");
     background-size: 100%;
     background-repeat: no-repeat;
     background-position: center bottom;
     position: absolute;
     height: 150px;
     width: 450px;
     margin-top: 620px;
     margin-left: -30px;
     z-index: 10;
}

#app-container {
     margin-top: -0px;
}

.panel {
     margin-top: 130px;
}

a {
     text-decoration: none;
}

ul {
     list-style-type: none;
}

label {
     font-weight: bold;
     font-size: 22px;
}

img {
     margin: 10px 10px 0 10px;
     border-radius: 5px;
     filter: drop-shadow(5px 5px 5px black)
}

img:hover {
     opacity: 0.8;
     filter: drop-shadow(10px 10px 10px black);
}

img:active {
     transform: scale(1.05)
}

.deck-card-delete {
     width: 240;
     height: 330;
     background: transparent;
     border: none !important;
     font-size:0;
}

#search-param {
     height: 42vh;
     margin-right: 20px;
     background-image: linear-gradient(rgba(90, 90, 135), lightblue, rgb(90, 90, 135));
     border: 2px solid black;
}

.name-input {
     height: 100px;
     width: 100%;
}

#choice-params{
     display: flex;
     flex-wrap: wrap;
}

.first-type-container{
     border-top: 2px dashed rgba(0, 0, 0, 0.425);
     border-bottom: 2px dashed rgba(0, 0, 0, 0.425);
     border-right: 2px dashed rgba(0, 0, 0, 0.425);
     font-size: 20px;
     padding-left: 20px;
     text-align: left;
     width: 50%;
     flex-direction: row;
}

.secondary-type-container{
     border-top: 2px dashed rgba(0, 0, 0, 0.425);
     border-bottom: 2px dashed rgba(0, 0, 0, 0.425);
     font-size: 18px;
     text-align: left;
     width: 50%;
     flex-direction: column;
}

.type-input-sec{
     height: 100%;
}

.supertype-input-sec{
     height: 45%;
}

.supertype-input-div{
     margin-left: 20px;
}

.subtype-input-sec{
     border-top: 2px dashed rgba(0, 0, 0, 0.425);
     height: 55%;
}

.subtype-input-div{
     margin-left: 20px;
}

.type-input-div{
     margin: 0 auto;
}
.type-input{
     margin-left: 15px;
     margin-right: 1px;
}

#search-results {
     height: 42vh;
     /* margin-top: 120px; */
     padding-top: 10px;
     background-image: linear-gradient(rgba(90, 90, 135), lightblue, rgb(90, 90, 135));
     border: 2px solid black;
     margin-right: 20px;
}

#card-container {
     display: grid;
     place-items: center;
}

#deck {
     height: 42vh;
     /* margin-top: 40px; */
     padding-top: 10px;
     background-image: linear-gradient(rgba(90, 90, 135), lightblue, rgb(90, 90, 135));
     border: 2px solid black;
     margin-right: 20px;
}

#deck-container {
     display: grid;
     place-items: center;
}

#delete-deck-button {
     position: absolute;
     margin-left: -40px;
     z-index: 10px;
     cursor: pointer;
}

/* CAROUSEL */

.slider {
     width: 100%;
     max-width: 400px;
     height: 400px;
     position: relative;
     overflow: hidden;
     border-radius: 15px;
}

.slide {
     width: 100%;
     max-width: 400px;
     height: 350px;
     position: absolute;
     transition: all 0.5s;
}

.slide img {
     object-fit: cover;
}

.search-btn-prev, .search-btn-next {
     position: absolute;
     margin-top: -80px;
     margin-left: 738px;
     margin-right: 758px;
     width: 40px;
     height: 250px;
     padding: 10px;
     border: none;
     border-radius: 15px;
     z-index: 10px;
     cursor: pointer;
     background-color: rgba(124, 76, 76, 0.50);
     font-size: 18px;
}

.deck-btn-prev, .deck-btn-next {
     position: absolute;
     margin-top: -80px;
     margin-left: 738px;
     margin-right: 758px;
     width: 40px;
     height: 250px;
     padding: 10px;
     border: none;
     border-radius: 15px;
     z-index: 10px;
     cursor: pointer;
     background-color: rgb(124, 76, 76, 0.50);
     font-size: 18px;
}

.btn:active {
     transform: scale(1.1);
}

.search-btn-prev, .deck-btn-prev {
     top: 45%;
     left: 2%
}

.search-btn-next, .deck-btn-next {
     top: 45%;
     right: 2%;
}

/* TAB VIEW */

.nav-container {
     position: absolute;
     margin-top: -120px;
     margin-left: 200px;
     overflow: hidden;
     height: 50px;
}

#logout-button {
     background-image: linear-gradient(rgb(185, 180, 255), rgb(50, 50, 250));
     box-shadow: 0px 0px 1px #aaa, inset 0px 2px 1px #fff;
     position: absolute;
     margin-top: -110px;
     margin-left: -200px;
     border: 2px solid rgb(24, 23, 23);
     border-radius: 50%;
     outline: none;
     cursor: pointer;
     padding: 16px 12px;
     transition: 0.3s;
     outline: 4px solid white;
     /* box-shadow:
     0 0 0 6px hsl(0, 0%, 75%),
     0 0 0 6px hsl(0, 0%, 75%); */
}

.logout-container a button {
     font-size: 20px;
     font-weight: bold;
}

#logout-button:after {
     z-index: -1;
     border-radius: 50%;
     content: '';
     position: absolute;
     top: -8px;
     left: -8px;
     right: -8px;
     bottom: -8px;
     background: rgb(24, 23, 23);     
}

#logout-button:hover {
     box-shadow: 0px 3px 8px rgb(255, 255, 255), inset 0px 2px 3px rgb(255, 255, 255);
}

#logout-button:active {
     box-shadow: 0px 3px 8px rgb(255, 255, 255), inset 0px 2px 3px rgb(0, 0, 0);
}

#nav-search {
     background-image: linear-gradient(rgb(200, 145, 145), rgb(255, 0, 0));
}

#nav-results {
     background-image: linear-gradient(rgb(200, 200, 135), rgb(200, 220, 30));
}

#nav-deck {
     background-image: linear-gradient(rgb(200, 160, 135), rgb(20, 115, 60));
}

.tab-button {
     border: 3px solid rgb(24, 23, 23);
     margin: 0 10px;
     width: 14px;
     height: 14px;
     position: relative;
     text-align: center;
     border-radius: 50%;
     box-shadow: 0px 0px 1px #aaa, inset 0px 2px 1px #fff;
     outline: none;
     cursor: pointer;
     padding: 16px 18px;
     transition: 0.3s;
     font-size: 17px;
}

.tab-button:hover {
     box-shadow: 0px 3px 5px rgb(192, 192, 192), inset 0px 2px 3px rgb(255, 255, 255);
}

.tab-button:active {
     box-shadow: 0px 3px 8px rgb(192, 192, 192), inset 0px 2px 3px rgb(0, 0, 0);
}

.tab-content {
     display: none;
     padding: 6px 12px;
     border: 1px solid #ccc;
     border-top: none;
}