/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     font-family: 'Nintendo DS BIOS', sans-serif;
}

form {
     height: 100%;
     padding-bottom: 10px;
}

ul {
     list-style-type: none;
     padding: 0;
}

/******************************************
/* LAYOUT
/*******************************************/
/* header {

}

footer {

} */

header, body, footer {
     max-width: 576px;
     margin: 0px auto;
     text-align: center;
}

h1 {
     margin: 5px;
}

h2 {
    margin: 10px auto; 
}

h3 {
     font-size: 24px;
     margin-top: 5px;
     margin-bottom: 10px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

#app-container {
     min-width: 375px;
     margin: 0 auto;
     min-height: 812px;
}

#title-container {
     border-top: 2px solid black;
     border-left: 2px solid black;
     border-right: 2px solid black;
     background-image: linear-gradient(cornflowerblue, lightblue, cornflowerblue);
     padding: 10px 0;
}

#title-container h1 {
     background-image: url('pokedrafts.png');
     background-position: center top;
     background-repeat: no-repeat;
     background-size: 50%;
     min-height: 80px;
}

#nav-container {
     display: flex;
     flex-direction: row;
     position: relative;
     overflow: hidden;
     width: 100%;
     border: 2px solid black;
}

#login-button {
     font-size: 20px;
     font-weight: bold;
     border: 1px solid black;
}

#login-button:hover {
     background-color: lightgreen;
}

#logout-button {
     width: 30%;
     font-size: 20px;
     font-weight: bold;
     border: 1px solid black;
}

#nav-container .tab-button {
     width: 25%;
     font-size: 20px;
     font-weight: bold;
     border: 1px solid black;
}

#nav-container button:hover {
     background-color: lightgreen;
}

.panel {
     position: relative;
     min-height: 60vh;
     border: 2px solid black;
     background-image: linear-gradient(rgb(220, 100, 100), rgb(220, 200, 200), rgb(220, 100, 100));
}

#search-param {
     background-image: linear-gradient(rgb(220, 100, 100), rgb(220, 200, 200), rgb(220, 100, 100));
}

#search-results {
     background-image: linear-gradient(rgb(75, 155, 110), #d0f0c0, rgb(75, 155, 110));
}

#deck {
     background-image: linear-gradient(rgb(180, 145, 95), lightyellow, rgb(180, 145, 95));

}

.search-input {
     border: 2px solid black;
     margin: 10px 0;
     padding-bottom: 10px;
}

a {
     text-decoration: none;
     color: black;
}

ul {
     list-style-type: none;
}

label {
     font-weight: bold;
     font-size: 22px;
}

.card-name {
     display: none;
}

img {
     margin: 10px 10px 0 10px;
     border-radius: 5px;
     filter: drop-shadow(5px 5px 5px black);
}

img:hover {
     opacity: 0.8;
     filter: drop-shadow(8px 8px 8px black);
}

img:active {
     transform: scale(.90)
}

.instructions {
     background-image: linear-gradient(rgba(137, 43, 226, 0.425), rgba(180, 145, 220, 0.425), rgba(137, 43, 226, 0.425));
     border: 2px solid black;
     margin-top: 20px;
     min-height: 70px;
     width: 100%;    
}

.instructions-text {
     margin: 10px;
     font-size: 21px;
     font-weight: bold;
}

#top-params {
     display: flex;
     margin: 10px auto;
     gap: 5px;
}

#top-params input {
     border: 2px solid black;
     padding: 3px 18px;
     font-size: 18px;
}

#top-params div {
     width: 50%;
     border: 2px solid black;
     padding: 8px;
     height: 50px;
     width: 100%;
}

#top-params .button-input {
     padding: 5px;
}

#top-params div button {
     border: 2px solid rgb(8, 8, 8);
     border-radius: 5px;
     margin: 0 3px 3px 3px;
     padding: 5px 10px;
     font-size: 20px;
     font-weight: bold;
}

#card-container {
     height: 385px;
     display: grid;
     place-items: center;
}

#card-add-info, #card-delete-info {
     /* border: 2px solid black;
     background-color: white;
     padding: 10px 50px; */
     font-size: 24px;
     font-weight: bold;
     display: none;
}

#deck-container {
     height: 385px;
     display: grid;
     place-items: center;
}

#delete-deck-button {
     font-size: 20px;
     font-weight: bold;
     border: 2px solid black;

     z-index: 1px;
     cursor: pointer;
}

/* CAROUSEL */

.slider {
     width: 100%;
     max-width: 400px;
     height: 375px;
     position: relative;
     overflow: hidden;
     border-radius: 15px;
}

.slide {
     width: 100%;
     max-width: 400px;
     height: 350px;
     position: absolute;
     transition: all 0.5s;
}

.slide img {
     object-fit: cover;
}

.search-btn-prev, .search-btn-next {
     position: absolute;
     margin-top: -110px;
     width: 40px;
     height: 200px;
     padding: 10px;
     border: none;
     border-radius: 15px;
     z-index: 10px;
     cursor: pointer;
     background-color: rgba(124, 76, 76, 0.50);
     font-size: 18px;
}

.deck-btn-prev, .deck-btn-next {
     position: absolute;
     margin-top: -110px;
     width: 40px;
     height: 200px;
     padding: 10px;
     border: none;
     border-radius: 15px;
     z-index: 10px;
     cursor: pointer;
     background-color: rgb(124, 76, 76, 0.50);
     font-size: 18px;
}

.btn:active {
     transform: scale(1.1);
}

.search-btn-prev, .deck-btn-prev {
     top: 45%;
     left: 2%
}

.search-btn-next, .deck-btn-next {
     top: 45%;
     right: 2%;
}

/* TAB VIEW */

.tab-content {
     display: none;
     padding: 6px 12px;
     border-top: none;
}

/* media query - make the margins smaller for smaller devices - by about 5 px */