<h3><i class="fas fa-book-reader"></i> Pokemon Card Deck Builder</h3>
<div class="section">
    <p class="lead">Create and manage your very own deck from the first three sets of the Pokemon Trading Card Game!</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
    <i class="fab fa-google left"></i> Log In With Google
    </a>
</div>